.trip-brief {
  font-size: 10px;
  color: #615f5f;
  line-height: 15px;
  display: flex;
  text-align: justify;

  --max-lines: 3;
  max-height: calc(15px * var(--max-lines));
  overflow: hidden;
}

.trip-name {
  font-size: 16px;
  padding-bottom: 5px !important;
  line-height: 0px !important;
}

.trip-date {
  font-size: 18px;
}

.imgTrip {
  padding-top: 0px !important;
  width: 300px !important;
  height: 300px;
}
