@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --black: #212121;
  --clearGray: #e1dede;
  --darkGray: #c5c2c2;
  --darkGreen: #28857d;
  --darkerGreen: #0a4843;
}

.description{
    font-family: var(--font-family);
    position: relative;
    width: 1300px;
    /* height: 1000px; */
    overflow: hidden;
    /* padding: 40px; */
    padding-top: 50px;
    padding-bottom: 80px;
}

.organizing-trip-inner{
  position: relative;
  right: -45px;
  width: 700px;
  height: 150px;
  overflow: hidden;
  /* padding-top: 10px; */
  box-shadow: 0 4px 4px 4px rgba(0,0,0,0.25);
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  text-align: center;
}

  .circle-icon{
      background: white;
      padding: 12px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      text-align: center;
      /* line-height: 100px; */
      vertical-align: middle;
      -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
       -o-transform: skewX(20deg);
          transform: skewX(20deg);

  }

  .organizing-trip-content{
    width: 700px;
    height: 150px;
    background-color: #0A4843;
    padding-top: 25px;
    font-family: var(--font-family);
  }

  .icon-text{
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    color: white;
    padding-top: 10px;
    padding-left: 30px;
  }
  .organizing-trip-title{
    font-family: var(--font-family);
    text-align-last: left;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 52px;
    color: #0A4843;
  }

  .stunning-places-title {
    font-family: var(--font-family);
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 52px;
    color: var(--black);
  }
 .stunning-places-inner{
  position: relative;
  left: -45px;
  width: 700px;
  height: 150px;
  overflow: hidden;
  padding-top: 10px;
  box-shadow: 0 4px 4px 4px rgba(0,0,0,0.25);
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  text-align: center;
 }

 .stunning{
  background-color: var(--black);
 }
.stunning-places-p{
  text-align: right;

}

.description p{  
  font-size: 15px;
  color: gray;
  font-weight: normal;

}

.part2{
  padding-top: 25px;
  padding-bottom: 25px;
}