.logo {
  width: 100px;
  float: left;
}

.sign {
  position: absolute;
  top: 20px;
  right: 25px;
}

.nav-header {
  padding-left: 150px;
}

li {
  padding-right: 80px;
}
a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  color: black !important;
}

.nav-item a:hover {
  color: #0a4843 !important;
}
.underline {
  position: absolute;
  height: 0.1rem;
  background-color: #0a4843;
}
