@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar-logo {
  width: 100px;
  float: left;
}

.sign {
  position: absolute;
  top: 20px;
  right: 25px;
}

.nav-header {
  padding-left: 150px;
}

.nav-header li {
  padding-right: 80px;
}
.nav-header a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  line-height: 50px;
  color: black !important;
}

.nav-item a:hover {
  color: #0a4843 !important;
  font-weight: 600;
}
.underline {
  position: absolute;
  height: 0.12rem;
  background-color: #0a4843;
}
.Nav {
  box-shadow: none !important;
  border: none !important;
}
