@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar-logo {
  width: 100px;
  float: left;
}

.sign {
  position: absolute;
  top: 26px;
  right: 25px;
}
.sign-btn {
  border-radius: 5px;
  box-shadow: none;
}

.nav-header {
  padding-left: 150px;
}

.nav-header li {
  padding-right: 80px;
}
.nav-header a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  line-height: 50px;
  color: black !important;
}

.nav-item a:hover {
  color: #0a4843;
  font-weight: 800;
}
.nav-item a:focus {
  color: #0a4843 !important;
  font-weight: 800;
}

.underline {
  position: absolute;
  height: 0.12rem;
  background-color: #0a4843 !important;
}
.Nav {
  box-shadow: none !important;
  border: none !important;
}
.toggle-btn {
  display: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}

@media screen and (max-width: 1000px) {
  .nav-item {
    display: none !important;
    visibility: hidden !important;
  }
  .nav-item a:hover {
    color: #0a4843 !important;
    font-weight: 800;
    background-color: lawngreen;
  }
  .nav-link {
    width: 115px !important;
  }
  .underline {
    display: none !important;
    visibility: hidden !important;
  }
  .toggle-btn {
    display: inline !important;
  }

  .close-side-bar {
    display: none;
    visibility: hidden;
  }
}

.sidebar {
  display: block !important;
}

.hov a:hover {
  color: #0a4843 !important;
  font-weight: 800;
  letter-spacing: 1px;
}
