@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --black: #212121;
  --clearGray: #e1dede;
  --darkGray: #c5c2c2;
  --darkGreen: #28857d;
}

.loading-text{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: var(--font-family);
  color: var(--darkGreen);
  font-size: 24px;
}

.stepper-container {
  min-height: 90vh;
  margin-top: 80px;
  font-family: var(--font-family);
}

.stepper-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 40px;
}
.stepper-inner {
  margin: auto;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 30px 55px 45px 55px;
  border-radius: 20px;
  transition: all 0.3s;
}

.tour-type-option {
  cursor: pointer;
  max-width: 250px;
  max-height: 400px;
  /* padding-left: 60px;
    padding-right: 60px; */
  padding-top: 30px;
  border: 1px solid #615f5f;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.tour-type-option:hover {
  box-shadow: 0 0 11px cornflowerblue;
}

.tour-type-option .option-title {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.055em;
  /* color: black; */
  line-height: 29px;
}
.tour-type-option .option-description {
  font-weight: 400;
  line-height: 20.44px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.055em;
  text-align: center;
  color: #615f5f;
}

.stepper-inner .question {
  padding-top: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.055em;
  color: #615f5f;
}

.stepper-inner .subquestion {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.055em;
  color: #615f5f;
}

.stepper-inner .btn-container {
  padding-top: 40px;
}

.stepper-inner .btn-container .next-btn,
.stepper-inner .btn-container .prev-btn {
  text-transform: capitalize;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.055em;
}

.loading_container .loading_text {
  padding-top: 30px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  line-height: 25px;
  color: #0a4843;
}

/* Styling EVENTS component */

.events {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  /* margin: auto; */
}

.event-cards {
  display: flex;
  /* flex-wrap: wrap; */
  list-style: none;
  margin: 0;
  padding: 0;
  /* margin: 50px; */
  align-items: center;
  justify-content: center;
}
.event-cards__item {
  display: flex;
  /* padding: 20px; */
}

#event-card {
  width: 400px;
  height: 400px;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin: 5px; */
  border-radius: 12px;
}
#event-card .add-to-card_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  min-width: 80px;
  background-color: #38b4aa;
  border-radius: 10px;
  font-size: 13px;
  align-items: center;
  text-transform: capitalize;
  color: white;
}

#event-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.event-card-content {
  display: inline-block;
  width: 100%;
  transform: translateY(200%);
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  height: 35%;
  padding: 10px;
  color: #fff;
}

.event-card-info {
  font-family: var(--font-family);
  transform: translateY(120%);
  position: relative;
  background: var(--darkGreen);
  height: 70%;
  padding: 10px;
  color: #fff;
  transition: all 0.25s ease-in;
}

.event-card-text {
  font-family: var(--font-family);
  font-size: 14px;
  border: none;
  margin: 5px;
}

#event-card:hover .event-card-info {
  transform: translateY(0);
}

.event-card-title {
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 1.3px;
  background: transparent;
  color: white;
  border: none;
}

.event-card-description {
  font-size: 14px;
  letter-spacing: 0.055em;
  line-height: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
.date {
  display: flex;
  justify-content: center;
}
.date i {
  padding-right: 11px;
}
.date label {
  font-size: 14px;
}

.event-card-waves {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url("../../assets/event.jpg");
  background-size: cover;
  transform-origin: center bottom;
  z-index: 11;
  animation: waves 3s linear infinite;
  opacity: 0.6;
}

.event-card-waves::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url("../../assets/event.jpg");
  background-size: cover;
  transform-origin: center bottom;
  z-index: 11;
  animation: waves 3s linear infinite;
  animation-direction: reverse;
  opacity: 0.8;
}

.event-card-waves::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 143px;
  top: 0;
  left: 0;
  background: url("../../assets/event.jpg");
  background-size: cover;
  transform-origin: center bottom;
  z-index: 11;
  animation: waves 3s linear infinite;
  animation-delay: -5s;
  opacity: 0.4;
}

@keyframes waves {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@media screen and (max-width: 720px) {
  .App {
    flex-direction: column;
  }

  .App > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* Styling Hotels Component */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --black: #212121;
  --clearGray: #e1dede;
  --darkGray: #c5c2c2;
  --darkGreen: #28857d;
}

* {
  font-family: var(--font-family);
}
.hotel-card {
  font-family: var(--font-family);
  /* padding-top: 10px; */
  padding-bottom: 20px;
  margin-bottom: 0;
  /* filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5)); */
  border-radius: 0 !important;
  /* width: auto;
    height: auto; */
}

.rating-comp {
  padding-top: 0;
  padding-right: 0;
  padding-left: 70px;
  padding-bottom: 0;
}
.hotel-name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.hotel-description {
  font-size: 12px;
  color: #615f5f;
  line-height: 15px;
  font-weight: 300;
  /* display: flex; */
  text-align: left;
}

.hotel-price-range {
  display: flex;
  text-align: left;
  padding-bottom: 10px;
}
.hotel-price-range span {
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  padding-left: 5px;
}

.hotel-card .add-to-card_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  min-width: 80px;
  background-color: #38b4aa;
  border-radius: 10px;
  font-size: 13px;
  align-items: center;
  text-transform: capitalize;
  color: white;
}
/* Styling Restaurants Component  */
.restaurant-card {
  font-family: var(--font-family);
  /* padding-top: 10px; */
  padding-bottom: 20px;
  margin-bottom: 0;
  /* filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5)); */
  border-radius: 0 !important;
  /* width: auto;
    height: auto; */
}

.rating-comp {
  padding-top: 0;
  padding-right: 0;
  padding-left: 70px;
  padding-bottom: 0;
}
.restaurant-name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  display: flex;
  justify-content: space-between;
}
.restaurant-description {
  font-size: 12px;
  color: #615f5f;
  line-height: 15px;
  font-weight: 300;
  /* display: flex; */
  text-align: left;
}

.restaurant-price-range {
  text-align: left;
  padding-top: 15px;
}
.restaurant-price-range span {
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  padding-left: 5px;
}

.see-more-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  min-width: 80px;
  background-color: #e1dede;
  border-radius: 10px;
  font-size: 13px;
  justify-content: center;
  text-transform: capitalize;
  color: #212121;
}

.restaurant-card .add-to-card_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  min-width: 80px;
  background-color: #38b4aa;
  border-radius: 10px;
  font-size: 13px;
  align-items: center;
  text-transform: capitalize;
  color: white;
}

.restaurant-card .counter {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 50px;
  width: 50px;
  background-color: #38b4aa;
  border-radius: 50px;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: white;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: -25px;
  position: absolute;
  z-index: 2;
  right: -15px;
  top: 20px;
}
